<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./LinkedList.css">
    <script src="./LinkedList.js" defer></script>
    <title>LinkedList</title>
</head>
<body>
    <div class="header">

    </div>
    <main class="main-body">

        <div class="linkedList-into-text">
            <p>A linked list is a sequence of data structures, which are connected together via links.</p>
            <p>Linked List is a sequence of links which contains items.</p>
            <p>Each link contains a connection to another link. Linked list is the second most-used data structure after array.</p>
            <p></p>
        </div>
        <div class="linkedList">
            <div class="linkedList-container">
                
            </div>
            <p>Linked-List</p>
        </div>
        <div class="display">
            <div class="display-container">

            </div>
            <p>Display</p>
        </div>
        <div class="buttons">
            <button class="btn insertAtHead">Insert At Head</button>
            <button class="btn deleteFromHead">Delete from Head</button>
            <button class="btn insertAtTail">Insert At Tail</button>
            <button class="btn deleteFromTail">Delete from Tail</button>
            <button class="btn front">Front</button>
            <button class="btn back">Back</button>
        </div>
        <div class="input-field">
            <input type="text" name="data" id="data_field" placeholder="Enter Data"/>
            <button class="btn generate-random">Generate Random</button>
            <button class="btn flush">Flush</button>
        </div>
    </main>
    <div class="footer">

    </div>
</body>
</html>