<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Stack.css">
    <script src="./Stack.js" defer></script>
    <title>Stack</title>
</head>
<body>
    <main class="main-body">
        <div class="header">

        </div>
        <div class="canvas">

            <div class="stack">
                <div class="stack-container">
                    
                </div>
                <p>Stack</p>
            </div>

            <div class="stack-intro-text">
                <p>Stack is a linear data-structure and it is a last-in-first-out data-structure.</p>
                <p>In this example you can see a stack of size 19 and you can do different Stack operations.</p>
                <p>You can do different stack operations like push,pop,top etc;</p>
            </div>

            <div class="display">
                <div class="display-container">
                    
                </div>
                <p>Display</p>

            </div>

            <div class="btn-container">
                <button class="btn push">Push</button>
                <button class="btn pop">Pop</button>
                <button class="btn top">Top</button>
                <button class="btn is-empty">is empty?</button>
                <button class="btn generate-random">Generate Random</button>

            </div>

            <div class="input-field">
                <input type="text" name="data" id="data-field" placeholder="Enter Data">
            </div>

        </div>
        <div class="footer">

        </div>
    </main>
</body>
</html>