<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Stack.css">
    <script src="./Stack.js" defer></script>
    <title>Stack</title>
</head>
<body>
    <main class="main-body">
        <div class="header">

        </div>
        <div class="canvas">

            <div class="stack">
                <div class="stack-container">

                </div>
                <p>Stack</p>
            </div>

            <div class="display">
                <div class="display-container">

                </div>
                <p>Display</p>

            </div>

            <div class="btn-container">

            </div>

            <div class="input-field">

            </div>

        </div>
        <div class="footer">

        </div>
    </main>
</body>
</html>