<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Sorting.css">
    <script src="./Sorting.js" defer></script>
    <title>Algo-Visualize</title>
</head>
<body>
    <main class="main-body">

        <div class="input">
            <input type="text" name="array" id="num-array" placeholder="Enter numbers seperated by comma(,)"/>
            <button class="btn input-btn">Submit</button>
        </div>

        <div class="canvas">
            
        </div>

        <div class="sorting-buttons">
            <button class="btn">Insertion Sort</button>
            <button class="btn">Bubble Sort</button>
            <button class="btn">Selection Sort</button>
            <button class="btn">Merge Sort</button>
            <button class="btn">Quick Sort</button>
        </div>
    </main>
</body>
</html>