<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Queue.css">
    <script src="./Queue.js" defer></script>
    <title>Queue</title>
</head>
<body>
    <main class="main-body">
        <div class="header">

        </div>
        <div class="canvas">

            <div class="Queue">
                <div class="Queue-container">
                    
                </div>
                <p>Queue</p>
            </div>

            <div class="display">
                <div class="display-container">
                    
                </div>
                <p>Display</p>

            </div>

            <div class="btn-container">
                <button class="btn Insert">Insert</button>
                <button class="btn Delete">Delete</button>
                <button class="btn Front">Front</button>
                <button class="btn Back">Back</button>
                <button class="btn is-empty">is empty?</button>

            </div>

            <div class="input-field">
                <input type="text" name="data" id="data-field" placeholder="Enter Data">
            </div>

        </div>
        <div class="footer">

        </div>
    </main>
</body>
</html>